<?xml version="1.0"?>
<robot name="ur_handeye_workcell" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_handeye_description)/urdf/ur_handeye_workcell_macro.xacro"/>
  <xacro:include filename="$(find ur_handeye_simulation)/urdf/ur_handeye_camera_macro.xacro"/>
  <xacro:include filename="$(find ur_handeye_simulation)/urdf/ur_handeye_pattern_macro.xacro"/>
  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro" />

  <!-- options: eye_to_hand, eye_in_hand -->
  <xacro:arg name="handeye_setup" default=""/>

  <xacro:arg name="ur_type" default="ur10"/>
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:arg name="simulation_controllers" default="$(find ur_handeye_simulation)/config/ur_controllers.yaml" />
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="ros_namespace" default="" />

  <link name="world"/>

  <!--This will create the scene where the robot is located in-->
  <xacro:ur_handeye_workcell
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
    kinematics_parameters_file="$(arg kinematics_parameters_file)"
    physical_parameters_file="$(arg physical_parameters_file)"
    visual_parameters_file="$(arg visual_parameters_file)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    >
      <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:ur_handeye_workcell>


  <!-- ============================================================================ -->
  <!-- Hand-eye setups settings                                                     -->
  <!-- ============================================================================ -->
  
  <xacro:property name="setup" value="$(arg handeye_setup)"/>

  <!-- Eye-to-Hand -->
  <xacro:if value="${setup == 'eye_to_hand'}">

    <xacro:handeye_camera
      name="eye_to_hand_camera"
      parent="world"
    >
      <origin xyz="0 0.5 2" rpy="0 ${pi/6} 0" />
    </xacro:handeye_camera>

    <xacro:handeye_pattern
      name="pattern"
      parent="tool0"
      width="0.9"
      height="0.8"
      texture_path="$(find ur_handeye_simulation)/models/textures/pattern2.png"
    >
      <origin xyz="0 0 0.05" rpy="0 0 0" />
    </xacro:handeye_pattern>
  </xacro:if>


  <xacro:if value="${setup == 'eye_in_hand'}">

    <xacro:handeye_camera
      name="eye_in_hand_camera"
      parent="tool0" 
    >
      <origin xyz="0 -0.05 0.02" rpy="${pi/2} ${-pi/2} 0" />
    </xacro:handeye_camera>

    <xacro:handeye_pattern
      name="pattern"
      parent="world"
      width="0.9"
      height="0.8"
      texture_path="$(find ur_handeye_simulation)/models/textures/pattern2.png"
    >
      <origin xyz="1.5 0.5 1.05" rpy="0 0 0" />
    </xacro:handeye_pattern>
  </xacro:if>

  <!-- ============================================================================ -->


  <!-- GAZEBO -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>
  <!-- ros2 control instance -->
  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

</robot>