<?xml version="1.0"?>
<robot name="ur_handeye_workcell" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_handeye_description)/urdf/ur_handeye_workcell_macro.xacro"/>

  <xacro:arg name="ur_type" default="ur20"/>
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limits_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_parameters_file" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <link name="world"/>

  <!--This will create the scene where the robot is located in-->
  <xacro:ur_handeye_workcell
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limits_parameters_file)"
    kinematics_parameters_file="$(arg kinematics_parameters_file)"
    physical_parameters_file="$(arg physical_parameters_file)"
    visual_parameters_file="$(arg visual_parameters_file)"
    >
      <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:ur_handeye_workcell>


  <!-- Check eye-in-hand configuration -->
  <joint name="robot_to_camera_in_hand" type="fixed">
    <parent link="tool0"/>
    <child link="camera_in_hand_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>
  <link name="camera_in_hand_base_link" />
  <xacro:sensor_d435 
    parent="camera_in_hand_base_link" 
    name="camera_in_hand"
    use_nominal_extrinsics="true" 
    add_plug="false" 
    use_mesh="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
  
  <!-- Check eye-to-hand configuration -->
  <joint name="robot_to_camera_to_hand" type="fixed">
    <parent link="world"/>
    <child link="camera_to_hand_base_link"/>
    <origin xyz="0 0.5 2" rpy="0 ${pi/6} 0 " />
  </joint>
  <link name="camera_to_hand_base_link" />
  <xacro:sensor_d435 
    parent="camera_to_hand_base_link" 
    name="camera_to_hand"
    use_nominal_extrinsics="true" 
    add_plug="false" 
    use_mesh="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>


</robot>